{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/preset-env"]
    }
  },
  "rules": {
    "strict": 0,
    "quotes": ["error", "single"],
    "curly": ["error", "multi-line"],
    "no-use-before-define": ["error", "nofunc"],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "prefer-const": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es2020": true
  }
}
