/**
 *
 * 欢迎来到自我编程介绍页面！
 *
 * 这是一个展示代码动画效果的交互式网站。
 *
 * 让我们开始一段有趣的编程之旅吧！
 */

/**
 * Let's begin. We start by animating... well, everything.
 */

* {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/**
 * That didn't do much. But you'll see.
 *
 * Black on white is really boring,
 * so let's do something about it.
 */

html {
  background: rgb(63, 82, 99);
  height: 100%;
}

/***
 * Hold on...
 */

pre, a {
  color: white;
}

/**
 * That's better. Sorry about your eyes.
 *
 * Working in this big empty space is tough.
 *
 * I'm going to make a nice area for us to work in.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  max-height: 45vh;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

/**
 * Okay. We're going to start filling up the screen.
 * Let's get ready to do some work.
 */

#style-text {
  -webkit-transform: translateX(95%);
  -moz-transform: translateX(95%);
  -ms-transform: translateX(95%);
  -o-transform: translateX(95%);
  transform: translateX(95%);
  position: absolute;
}

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to get a little perspective.
 */

body {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -moz-transform: translateX(98.5%) rotateY(-10deg);
  -ms-transform: translateX(98.5%) rotateY(-10deg);
  -o-transform: translateX(98.5%) rotateY(-10deg);
  transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  -moz-transform-origin: right;
  -ms-transform-origin: right;
  -o-transform-origin: right;
  transform-origin: right;
  max-height: 93.1vh;
}

/**
 * So, let's talk projects. That's why you're here, right?
 * I can't imagine you'd come just to see the pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -moz-transform: rotateY(10deg);
  -ms-transform: rotateY(10deg);
  -o-transform: rotateY(10deg);
  transform: rotateY(10deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
}
